.aiRemStyle{
  width: 100%;
  height: 50%;
  padding: 20px 40px;
}

.titleContainerStyle{
  align-items: center;
  margin-bottom: 16px;
}

.titleStyle{
  font-size: 20px;
  color: #2D3748;
  margin-right: 30px;
}

.aiRemContentStyle{
  width: 80px;
  height: 24px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border-radius: 6px 6px 6px 6px;
  background: linear-gradient(90deg, rgba(102,126,234,1) 0%,rgba(118,75,162,1) 100%);
}



.productListStyle{
  width: 100%;
  height: 50%;
  background-color: aquamarine;
  padding: 20px 40px;
}
