.footerStyle{
  height:100%;
  background-color: #fff;
  justify-content: space-between;
}

.footerLogo{
  margin-left: 30px;
  align-items: center;
}

.Logo{
  font-size: 24px;
  margin-right: 18px;
}

.footerTool{
  margin-right: 30px;
  align-items: center;
}

.footerToolItem{
  padding: 0 12px;
  font-size: 16px;
  border-radius: 16px;
  color: #4B5563;

}