.resultContainer{
  justify-content: space-between;
}

.searchResult {
  font-size: 16px;
  line-height: 24px;
  height: 60px;
  align-items: center;
  background-color: rgba(247,250,252,1);
  padding-left: 30px;
}

.searchResult p {
  margin-right: 20px;
}

.closeIcon {
  margin-left: 20px;
  font-size: 14px;
}

.searchResultCard {
  font-size: 16px;
  line-height: 24px;
  height: 30px;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgba(247,250,252,1);
  border: 1px solid rgba(226,232,240,1);
}

.selectResult {
  font-size: 16px;
  align-items: center;
  flex: 0 0 350px;
}
.selectInput {
  width: 200px;
  height: 35px;
}
.selectLabel {
  margin-right: 10px;
  font-size: 16px;
  line-height: 35px;
}
.aiRecommend {
  font-size: 12px;
  line-height: 16px;
  height: 35px;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px;
  background-color: rgba(247,250,252,1);
  border: 1px solid rgba(226,232,240,1);
}

.aiRecommend::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 12px;
  background: linear-gradient(90deg, rgba(168,85,247,1) 0%,rgba(79,70,229,1) 100%);
  border-radius: 50%;
  margin-right: 5px;
}
