*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.headerStyle {
  text-align: center;
  height: 140px;
  padding: 0;
  line-height: 64px;
  background-color: #f0b0b0;
}

.contentLayoutStyle {
  height: calc(100vh - 140px - 96px);
  width: 100%;
  border: 1px solid #E5E7EB;
}

.contentStyle {
  color: #2D3748;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siderStyle {
  text-align: center;
  color: #2D3748;
  background-color: #F7FAFC;
  overflow-y: auto;
}

.footerStyle {
  text-align: center;
  color: #2D3748;
  height: 96px;
  font-size: 16px;
  padding: 0;
}

.layoutStyle {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
}